<div class="btn-toolbar" role="toolbar">
  <div class="btn-group">
    <button {{action setDepartmentFilter "All"}} type="button" class="department-filter btn btn-default">All</button>
    <button {{action setStationFilter "Triage"}} type="button" class="station-filter btn btn-default">Triage</button>
  </div>
  <div class="btn-group">
    <button {{action setDepartmentFilter "F201"}} type="button" class="department-filter btn btn-default">F201</button>
    <button {{action setDepartmentFilter "F301"}} type="button" class="department-filter btn btn-default">F301</button>
    <button {{action setDepartmentFilter "F401"}} type="button" class="department-filter btn btn-default">F401</button>
    <button {{action setDepartmentFilter "F402"}} type="button" class="department-filter btn btn-default">F402</button>
  </div>
  <div class="btn-group">
    <button {{action setStationFilter "DCSS"}} type="button" class="station-filter btn btn-default">DCSS</button>
    <button {{action setStationFilter "CCRC"}} type="button" class="station-filter btn btn-default">CCRC</button>
    <button {{action setStationFilter "Self-help"}} type="button" class="station-filter btn btn-default">Self-help</button>
  </div>
  <div class="btn-group">
    <button {{action setStationFilter "Hearing"}} type="button" class="station-filter btn btn-default">Hearing</button>
    <button {{action setStationFilter "Continue"}} type="button" class="station-filter btn btn-default">Continue</button>
    <button {{action setStationFilter "Off calendar"}} type="button" class="station-filter btn btn-default">Off calendar</button>
  </div>
</div>

