<div class="col-sm-3">
  <div class="btn-group">
    {{#if petitionerPresent}}
    <button class="btn dropdown-toggle btn-success" data-toggle="dropdown">
      {{petitioner}} <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
      <li><a {{action "Check out" this }}>Check out</a></li>
    </ul>
    {{else}}
    <button class="btn dropdown-toggle btn-warning" data-toggle="dropdown">
      {{petitioner}} <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
      <li><a {{action "Check in" this }}>Check in</a></li>
    </ul>
    {{/if}}
  </div>
</div>


