<div class="col-sm-3">
  <div class="btn-group dropdown-parent">
    <button {{action "pausePolling"}} {{bind-attr class="petitionerAppeared:btn-success:btn-warning :btn :dropdown-toggle"}} data-toggle="dropdown">
      {{petitioner}} <span class="caret"></span>
    </button>
    {{#if petitionerAppeared}}
    <ul class="dropdown-menu" role="menu">
      <li><a {{action "petitionerCheckout" this }}>Check out {{petitioner}}</a></li>
    </ul>
    {{else}}
    <ul class="dropdown-menu" role="menu">
      <li><a {{action "petitionerCheckin" this }}>Check in {{petitioner}}</a></li>
    </ul>
    {{/if}}
  </div>
</div>


