<div class="col-sm-3">
  <div class="btn-group">
    {{#if respondentPresent}}
    <button class="btn dropdown-toggle btn-success" data-toggle="dropdown">
      {{respondent}} <span class="caret"></span>
    </button>
    {{else}}
    <button class="btn dropdown-toggle btn-warning" data-toggle="dropdown">
      {{respondent}} <span class="caret"></span>
    </button>
    {{/if}}
    <!-- <ul class="dropdown-menu" role="menu"> -->
    {{!#each action in respondent.actions }}
    <!--   <li><a {{action action.name this }}>{{action.name}}</a></li> -->
    {{!/each}}
    <!-- </ul> -->
  </div>
</div>


