<div class="col-sm-2">
  <div class="btn-group">
    <button {{bind-attr class="checkedIn:btn-success:btn-warning :btn :dropdown-toggle"}} data-toggle="dropdown">
      {{currentStation}} <span class="caret"></span>
    </button>
    {{#if checkedIn}}
    <ul class="dropdown-menu" role="menu">
      {{#if inTriage}}
      <li role="presentation" class="dropdown-header">Send to</li>
      <li><a {{action "dispatch" "CCRC"}}>CCRC</a></li>
      <li><a {{action "dispatch" "DCSS"}}>DCSS</a></li>
      <li><a {{action "dispatch" "Self-help"}}>Self-help</a></li>
      <li><a {{action "dispatch" "Hearing"}}>Hearing department</a></li>
      <li role="presentation" class="divider"></li>
      {{/if}}
      <li role="presentation" class="dropdown-header">Disposition</li>
      <li><a {{action "fullStip" currentStation }}>Full stipulation ({{currentStation}})</a></li>
      <li><a {{action "partialStip" currentStation }}>Partial stipulation ({{currentStation}})</a></li>
      <li><a {{action "noStip" currentStation }}>No stipulation ({{currentStation}})</a></li>
    </ul>
    {{else}}
    <ul class="dropdown-menu" role="menu">
      <li><a {{action "checkin" currentStation }}>Check in {{currentStation}}</a></li>
    </ul>
    {{/if}}
  </div>
</div>

