<div class="col-sm-2">
  <div class="btn-group dropdown-parent">
    <button {{action pausePolling}} {{bind-attr class="isInStation:btn-success:btn-warning :station :btn :dropdown-toggle"}} data-toggle="dropdown">
      {{station}} <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
      {{#if currentDelay}}
      <li><a {{action 'undo' station}}><span class="text-danger">Undo last</span></a></li>
      <li role="presentation" class="divider"></li>
      {{/if}}
      {{#if isInStation}}
      {{#if isInTriage}}
      <li role="presentation" class="dropdown-header">Send to</li>
      <li><a {{action 'dispatch' "CCRC-stip"}}>CCRC (stip)</a></li>
      <li><a {{action 'dispatch' "CCRC-session"}}>CCRC (session)</a></li>
      <li><a {{action 'dispatch' "DCSS"}}>DCSS</a></li>
      <li><a {{action 'dispatch' "Self-help"}}>Self-help</a></li>
      <li role="presentation" class="divider"></li>
      <li role="presentation" class="dropdown-header">Disposition</li>
      <li><a {{action 'dispo' "full stipulation" }}>Full stipulation</a></li>
      <li><a {{action 'dispo' "partial stipulation/hearing" }}>Partial stipulation/hearing</a></li>
      <li><a {{action 'dispo' "partial stipulation/continuance" }}>Partial stipulation/continuance</a></li>
      <li><a {{action 'dispo' "hearing"}}>Contested hearing</a></li>
      <li><a {{action 'dispo' "continue"}}>Continue</a></li>
      <li><a {{action 'dispo' "off calendar" "FTA"}}>Off calendar/FTA</a></li>
      <li><a {{action 'dispo' "off calendar" "withdrawn"}}>Off calendar/withdrawn</a></li>
      <li><a {{action 'dispo' "ineligible" "represented"}}>Ineligible/represented</a></li>
      <li><a {{action 'dispo' "ineligible" "DV"}}>Ineligible/DV</a></li>
      {{else}}
      <li><a {{action 'fullStip' station }}>Full stipulation ({{station}})</a></li>
      <li><a {{action 'partialStip' station }}>Partial stipulation ({{station}})</a></li>
      <li><a {{action 'noStip' station }}>No stipulation ({{station}})</a></li>
      {{/if}}
      {{else}}
      <li><a {{action 'checkin' station }}>Check in {{station}}</a></li>
      {{/if}}
    </ul>
  </div>
  {{partial "current-delay"}}
</div>

