<hr />
<div class="row">
  <div class="row">
    <div class="col-sm-1">
      <button class="btn btn-default disabled">{{ department }}</button>
      {{!--
      {{render "eventButton" interpreter}}
      --}}
    </div>
    <div class="col-sm-2">
      <button class="btn btn-default disabled">{{ caseNumber }}</button>
    </div>
    <div class="col-sm-3">
      {{!event-button options=petitioner}}
      <div class="btn-group">
        <button {{bind-attr class=":btn :dropdown-toggle petitioner.status"}} data-toggle="dropdown">
          {{petitioner.name}} <span class="caret"></span>
        </button>
        <!-- <ul class="dropdown-menu" role="menu"> -->
          {{!#each action in petitioner.actions }}
        <!--   <li><a {{action action.name this }}>{{action.name}}</a></li> -->
          {{!/each}}
        <!-- </ul> -->
      </div>
    </div>
    <div class="col-sm-3">
      {{!event-button options=respondent}}
    </div>
    <div class="col-sm-2">
      {{!event-button options=station}}
    </div>
  </div>
  <div class="form-group">
    {{!render "hearings" hearings}}
    {{!--
    {{ textarea value=notes class="form-control" placeholder="Notes" rows="2" }}
    --}}
  </div>
</div>

