<hr />
<div class="row">
  <div class="row">
    {{!partial "interperter"}}
    {{partial "department"}}
    {{partial "case-number"}}
    {{partial "petitioner"}}
    {{partial "respondent"}}
    {{partial "station"}}
  </div>
  <div class="form-group">
    {{!render "hearings" hearings}}
    {{!--
    {{ textarea value=notes class="form-control" placeholder="Notes" rows="2" }}
    --}}
  </div>
</div>

