<hr />
<div class="row">
  <div class="row">
    {{partial "interpreter"}}
    {{partial "department"}}
    {{partial "case-number"}}
    {{partial "parties"}}
    {{partial "station"}}
  </div>
  <div class="form-group">
    {{!render "hearings" hearings}}
    {{!--
    {{textarea value=notes class="form-control" placeholder="Notes" rows="2"}}
    --}}
  </div>
</div>

