<div class="page-header">
  <h2 id="date">Triage Calendar
    <small>
      {{filterValue}} cases for
      {{dateString}}
    </small>
  </h3>
</div>
{{partial 'filter-bar'}}
{{#each filtered}}
{{render 'matter' this}}
{{else}}
<hr>
<h4>None</h4>
{{/each}}

