<div class="page-header">
  <h2 id="matters-title">Triage Matters
    <small>
      {{dateString}}:
      {{filterValue}} cases
      ({{filtered.length}} total)
    </small>
  </h2>
</div>
{{partial 'filter-bar'}}
{{#each filtered}}
{{render 'matter' this}}
{{else}}
<hr />
<h4>None</h4>
{{/each}}

